body {
 background-color: #2e3131;
 color: #fff;
 /* background-image: url("../images/Background.jpg"); */
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 font-family: sans-serif;
 padding: 5px 15px;
}
/* img {
  float: right;
} */
.summary a{
  /* border:1px solid red; */
  color: yellow;
  text-decoration: none;
}
.avatar{
  float: right;
  width: 30%;
  text-align:right;
}
.avatar img{
  width: 60%;
  height: 60%;
}
.experience{
  float: left;
  width: 70%;
}
.hobbies{
  /* border: 1px solid black; */
}
.portfolio {
   /* background-color: #3dae2c; */
  /* border: 1px dotted silver; */
}
.clear{
  clear: both;
}
.external a{
  color: #ff0000;
  text-decoration: none;
}
.internal a{
  color: blue;
  text-decoration: none;
}
