body {
 background-color: #2e3131;
 color: #fff;
 font-family: sans-serif;
 padding: 5px 15px;
}
h1 {
  color: yellow;
}
.summary a{
  color: yellow;
  text-decoration: none;
}
.avatar{
  float: right;
  width: 30%;
  text-align:right;
}
.avatar img{
  width: 60%;
  height: 60%;
}
.experience{
  float: left;
  width: 70%;
}
.clear{
  clear: both;
}
.external a{
  color: #ff0000;
  text-decoration: none;
}
.internal a{
  color: blue;
  text-decoration: none;
}
